<link type="text/css" rel="stylesheet" href="./marker.css"/>
<div class="div_marker">
	<div class="div_thumb" align=center>
		<img src="./selfie_cr.png" class="img_thumb"/>
		<img src="./emoji.png" class="img_emoji"/>
	</div>
</div>
